<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 根标签 -->
<configuration>
    <!-- 使用注解的方式也一样 -->
    <!-- 开启驼峰映射 ，为自定义的SQL语句服务 -->
    <!--设置启用数据库字段下划线映射到java对象的驼峰式命名属性，默认为false-->
<!--    <settings>-->
<!--        <setting name="mapUnderscoreToCamelCase" value="true"/>-->
<!--    </settings>-->
    <!--    <properties>-->
    <!--        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>-->
    <!--        <property name="url" value="jdbc:mysql://hadoop01:3306/mybitis?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true&amp;useSSL=false"/>-->
    <!--        <property name="username" value="root"/>-->
    <!--        <property name="password" value="root"/>-->
    <!--    </properties>-->

    <!-- 环境，可以配置多个，default：指定采用哪个环境 -->
    <!--    <environments default="test">-->
    <!--        &lt;!&ndash; id：唯一标识 &ndash;&gt;-->
    <!--        <environment id="test">-->
    <!--            &lt;!&ndash; 事务管理器，JDBC类型的事务管理器 &ndash;&gt;-->
    <!--            <transactionManager type="JDBC" />-->
    <!--            &lt;!&ndash; 数据源，池类型的数据源 &ndash;&gt;-->
    <!--            <dataSource type="POOLED">-->
    <!--                <property name="driver" value="com.mysql.cj.jdbc.Driver" />-->
    <!--                <property name="url" value="jdbc:mysql://hadoop01:3306/mybitis?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true&amp;useSSL=false" />-->
    <!--                <property name="username" value="root" />-->
    <!--                <property name="password" value="root" />-->
    <!--            </dataSource>-->
    <!--        </environment>-->
    <!--        <environment id="development">-->
    <!--            &lt;!&ndash; 事务管理器，JDBC类型的事务管理器 &ndash;&gt;-->
    <!--            <transactionManager type="JDBC" />-->
    <!--            &lt;!&ndash; 数据源，池类型的数据源 &ndash;&gt;-->
    <!--            <dataSource type="POOLED">-->
    <!--                <property name="driver" value="${driver}" /> &lt;!&ndash; 配置了properties，所以可以直接引用 &ndash;&gt;-->
    <!--                <property name="url" value="${url}" />-->
    <!--                <property name="username" value="${username}" />-->
    <!--                <property name="password" value="${password}" />-->
    <!--            </dataSource>-->
    <!--        </environment>-->
    <!--    </environments>-->
    <mappers>
        <!-- 每一个 mapper 对应一个 dao接口（类/表）        -->
        <!--        <mapper resource="mappers/UserMapper.xml"/>-->
    </mappers>
</configuration>

